*
{
  box-sizing: border-box;
}

body
{
  margin: 0;
  background: #99e2d7;
}

.app h1
{
  text-align: center;
}

.container
{
  background-color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 15px;
  padding: 15px;
  border-radius: 25px;
  max-height: 90%;
}

.container img
{
  width: 50%;
  border-radius: 15px;
  aspect-ratio: 413 / 620;
}

form
{
  background-color: rgb(236, 236, 236);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

form h2
{
  text-align: center;
}

form input
{
  font-size: 14px;
  width: 90%;
}

.formBtn
{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-right: 20px;
}

.formBtn button
{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

#loginBtn
{
  background-color: #92e062;
}

#clearBtn
{
  background-color: #da5c5c;
}

#loginBtn:hover
{
  background-color: green;
  color: white;
  transition: all 0.2s ease-in-out;
}

#clearBtn:hover
{
  background-color: red;
  color: white;
  transition: all 0.2s ease-in-out;
}

.container.home
{
  flex-direction: column;
  align-items: center;
}

.container.home h1
{
  text-align: center;
}

.form-section
{
  display: flex;
  gap: 20px;
}

.container.home form
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.container.home form select
{
  width: 60%;
}

.confirmation-message
{
  position: fixed;
  top: 0;
  right: 0;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 20px;
  z-index: 999;
}