*
{
  box-sizing: border-box;
}

body
{
  margin: 0;
  background-image: url('https://images.unsplash.com/photo-1583373834259-46cc92173cb7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80');
  background-size: cover;
}

.app h1
{
  text-align: center;
}

.container
{
  background-color: rgba(255, 255, 255, 0.377);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 15px;
  padding: 15px;
  border-radius: 25px;
  max-height: 90%;
}

.container img
{
  width: 50%;
  border-radius: 15px;
  aspect-ratio: 413 / 620;
}

form
{
  background-color: rgb(236, 236, 236);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

form h2
{
  text-align: center;
}

form input
{
  font-size: 14px;
  width: 90%;
}

.formBtn
{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-right: 20px;
}

.formBtn button
{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

#loginBtn
{
  background-color: #92e062;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

#clearBtn
{
  background-color: #da5c5c;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

#loginBtn:hover
{
  background-color: green;
  color: white;
  transition: all 0.2s ease-in-out;
}

#clearBtn:hover
{
  background-color: red;
  color: white;
  transition: all 0.2s ease-in-out;
}

.container.mark
{
  flex-direction: column;
  align-items: center;
}

.container.mark h1
{
  text-align: center;
}

.form-section
{
  display: flex;
  gap: 20px;
}

.container.mark form
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.container.mark form select
{
  width: 60%;
}

.confirmation-message
{
  position: fixed;
  top: 0.7%;
  right: 0.7%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 25px;
  z-index: 999;
}

.error
{
  color: red;
}

.container.dash
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

table
{
  border-collapse: collapse;
  width: 100%;
}

th, td
{
  text-align: center;
  border: 1px solid Black;
  padding: 10px;
}

.green
{
  color: green;
}

.red
{
  color: red;
}

tbody
{
  background-color: #E6E6AF;
}

.logoutBtn
{
  position: fixed;
  top: 2%;
  left: 2%;
  padding: 5px;
  background-color: #545454;
  color: white;
  border-radius: 25px;
}

.switch
{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}